{
  "apiURL": "{% if api_ssl is defined %}https{% else %}http{% endif %}://{{ apihost }}",
  "soo": {
    "url": "{{ sso_url }}",
    "realm": "{{ sso_realm }}",
    "clientId": "{{ sso_client_id }}"
  }
}