ELASTICSEARCH_URL={{ elasticsearch_url }}
POSTGRESQL_USER={{ dbuser }}
POSTGRESQL_PASSWORD={{ dbpassword }}
POSTGRESQL_HOST={{ dbhost }}
POSTGRESQL_PORT=5432
DCI_CS_URL=https://{{ api_servername }}
DCI_PASSWORD={{ dci_analytics_password }}
DCI_LOGIN=dci-analytics
