ELASTICSEARCH_URL={{ elasticsearch_url }}
POSTGRESQL_USER={{ postgresql_user }}
POSTGRESQL_PASSWORD={{ postgresql_password }}
POSTGRESQL_HOST={{ postgresql_host }}
POSTGRESQL_PORT={{ postgresql_port }}
