POSTGRESQL_USER={{ dbuser }}
POSTGRESQL_PASSWORD={{ dbpassword }}
POSTGRESQL_HOST={{ dbhost }}
POSTGRESQL_PORT=5432
DCI_CS_URL=https://{{ api_servername }}
DCI_PASSWORD={{ dci_analytics_password }}
DCI_LOGIN=dci-analytics
DCI_CLIENT_ID={{ dci_client_id }}
DCI_API_SECRET={{ dci_api_secret }}
