[project]
	description = Bunch of ansible modules to manage dci public infra
[access "refs/*"]
  read = group dci-infra-core
  owner = group dci-infra-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group dci-infra-core
	label-Verified = -2..+2 group dci-infra-ptl
	label-Workflow = -1..+1 group dci-infra-core
	submit = group dci-infra-ptl
	read = group Registered Users
    read = group dci-infra-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group dci-infra-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
