[Unit]
Description=Prometheus Node Exporter
After=network-online.target

[Service]
Type=simple
ExecStart={{ _bin }}-{{ _version }} --web.listen-address=:{{ _port }}
SyslogIdentifier=node_exporter
Restart=always
RestartSec=1
StartLimitInterval=0
NoNewPrivileges=yes
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
