LOG_DIR=/var/log/dci-feeder-api/jobs
CACHE_DIR=/tmp

DCI_CS_URL={% if ssl_enabled|bool %}https{% else %}http{% endif %}://{{ apihost }}
DCI_CLIENT_ID={{ feeder_dci_client_id }}
DCI_API_SECRET={{ feeder_dci_api_secret }}

DEST_REGISTRY_URL={{ feeder_registry_url }}
DEST_REGISTRY_USER={{ feeder_registry_user }}
DEST_REGISTRY_PASSWORD={{ feeder_registry_password }}

STORE_COMPONENTS_CONTAINER={{ feeder_store_components_container }}
AWS_ACCESS_KEY_ID={{ feeder_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ feeder_aws_secret_access_key }}
AWS_REGION={{ feeder_aws_region }}
S3_ENDPOINT_URL={{ feeder_s3_endpoint_url }}
AWS_SIGNATURE_VERSION={{ feeder_aws_signature_version }}

SMTP_HOST={{ feeder_smtp_host }}
SMTP_PORT={{ feeder_smtp_port }}
SMTP_USERNAME={{ feeder_smtp_username }}
SMTP_PASSWORD={{ feeder_smtp_password }}


GOOGLE_CHAT_SPACE_ID={{ feeder_google_chat_space_id }}
GOOGLE_CHAT_KEY={{ feeder_google_chat_key }}
GOOGLE_CHAT_TOKEN={{ feeder_google_chat_token }}
GOOGLE_CHAT_THREAD_ID={{ feeder_google_chat_thread_id }}
GOOGLE_CHAT_KNI_THREAD_ID={{ feeder_google_chat_kni_thread_id }}

OCP_PULLSECRET_FILE={{ feeder_ocp_pullsecret_file }}

RQ_QUEUE_NAME={{ feeder_rq_queue_name }}
RQ_REDIS_HOST={{ feeder_rq_redis_host }}
