user nginx;
worker_processes auto;
error_log /var/{{ nginx_scl_prefix_dir | default("") }}log/nginx/error.log;
pid /var/{{ nginx_scl_prefix_dir | default("") }}run/nginx/nginx.pid;

include {{ nginx_modules_scl_prefix_dir | default("") }}/usr/share/nginx/modules/*.conf;

events {
    worker_connections  1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log /var/{{ nginx_scl_prefix_dir | default("") }}log/nginx/access.log main;

    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;
    keepalive_timeout  65;
    types_hash_max_size 2048;
    server_tokens   off;

    include       /etc/{{ nginx_scl_prefix_dir | default("") }}nginx/mime.types;
    default_type  application/octet-stream;

    include /etc/{{ nginx_scl_prefix_dir | default("") }}nginx/conf.d/*.conf;
}
