version: 0.1
log:
  fields:
    service: registry
storage:
  delete:
    enabled: true
  cache:
    layerinfo: inmemory
{% if registry_store == "swift" %}
  swift:
    username: {{ store_username }}
    password: {{ store_password }}
    authurl: {{ store_auth_url }}
    tenant: '{{ store_tenant_name }}'
{% if store_identity_api_version is defined %}
    authversion: {{ store_identity_api_version }}
{% endif %}
{% if store_user_domain_name is defined %}
    domain: {{ store_user_domain_name }}
{% endif %}
{% if store_user_domain_id is defined %}
    domainid: {{ store_user_domain_id }}
{% endif %}
{% if store_project_domain_name is defined %}
    tenantdomain: {{ store_project_domain_name }}
{% endif %}
{% if store_project_domain_id is defined %}
    tenantdomainid: {{ store_project_domain_id }}
{% endif %}
    region: {{ store_region }}
    container: {{ store_registry_container }}
{% elif registry_store == "s3" %}
  s3:
    accesskey: {{ registry_aws_accesskey }}
    secretkey: {{ registry_aws_secretkey }}
    region: {{ registry_aws_region }}
    bucket: {{ registry_aws_bucket }}
    encrypt: true
    keyid: {{ registry_aws_kms_key_id }}
{% endif %}

http:
  addr: :5000
  host: http{% if ssl_enabled|bool %}s{% endif %}://{{ registry_servername }}/
{% if ssl_enabled|bool %}
  tls:
    certificate: {{ registry_sslcertificatefullchainfile }}
    key: {{ registry_sslcertificatekeyfile}}
{% endif %}

auth:
  token:
    realm: http{% if ssl_enabled|bool %}s{% endif %}://{{ registry_servername }}/auth
    service: "Docker registry"
    issuer: "DCI auth server"
    rootcertbundle: {{ registry_sslcertificatefullchainfile }}
