server:
  addr: :5001
  certificate: {{ registry_sslcertificatefile }}
  key: {{ registry_sslcertificatekeyfile }}

token:
  issuer: "DCI auth server"
  expiration: 900

users:
{% for user in registry_users %}
  {{ user.name }}:
    password: {{ user.password }}
{% endfor %}

acl:
{% for user in registry_users %}
  - match: {account: "{{ user.name }}"{% if user.filter is defined %}, name: "{{ user.filter }}"{% endif %}}
    actions: ["{{ user.actions }}"]
{% endfor %}
