KEY_FILE_PATH={{ dci_umb_key_file_path }}
CRT_FILE_PATH={{ dci_umb_crt_file_path }}
CA_FILE_PATH={{ dci_umb_ca_file_path }}
BROKERS={{ dci_umb_brokers }}
TOPIC_SOURCES={{ dci_umb_topic_sources | join(" ") }}
HTTP_DESTINATION_HOST={{ dci_umb_destination_url }}
