# container-dci-analytics-worker.service

[Unit]
Description=Podman container-dci-analytics-worker.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-dci-analytics-worker.pid %t/container-dci-analytics-worker.ctr-id
ExecStart=/usr/bin/podman run --network=host --conmon-pidfile=%t/container-dci-analytics-worker.pid --cidfile=%t/container-dci-analytics-worker.ctr-id --cgroups=no-conmon -d --replace --name dci-analytics-worker --label "io.containers.autoupdate=registry" --env-file=/etc/dci-analytics.env --entrypoint=/opt/dci-analytics/bin/run-worker quay.io/distributedci/dci-analytics:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/container-dci-analytics-worker.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile=%t/container-dci-analytics-worker.ctr-id
PIDFile=%t/container-dci-analytics-worker.pid
Type=exec

[Install]
WantedBy=multi-user.target default.target
