[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[isamchk]
key_buffer_size = 16M

[mysqld]
basedir = /usr
bind_address = {{ ansible_eth0.ipv4.address }}
datadir = /var/lib/mysql
default_storage_engine = InnoDB
innodb_buffer_pool_size = 64M
innodb_file_per_table = ON
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 1
innodb_thread_concurrency = {{ ansible_processor_count * 2 }}
innodb_max_dirty_pages_pct = 40
join_buffer_size = 192K
key_buffer_size = 16M
log_error = /var/log/mariadb/mariadb.log
log_warnings = 0
max_allowed_packet = 16M
max_binlog_size = 100M
max_connections = 4096
pid_file = /var/run/mariadb/mariadb.pid
port = 3306
query_cache_limit = 1M
query_cache_size = 16M
query_cache_type = ON
skip_external_locking = ON
skip_name_resolve = ON
socket = /var/lib/mysql/mysql.sock
sort_buffer_size = 192K
ssl = false
thread_cache_size = 8
thread_stack = 256K
tmpdir = /tmp
user = mysql

[mysqld_safe]
log_error = /var/log/mariadb/mariadb.log
nice = 0
socket = /var/lib/mysql/mysql.sock

[mysqldump]
max_allowed_packet = 16M
quick
quote-names
