[Unit]
Description=The {{ __quadlet }} container image
After=network-online.target

[Image]
Image={{ __config.image }}
{% if __config.authfile | default('') != '' -%}
AuthFile={{ __config.authfile }}
{% endif %}
{% if __config.creds | default('') != '' -%}
Creds={{ __config.creds }}
{% endif %}
