[Unit]
Description=The {{ _quadlet }} container
{% if not (_config.no_quadnet_image | default(false)) | bool %}
# start image service first
After={{ _quadlet }}-image.service
# this dependency is implicit, only here as a reminder
# Requires={{ _quadlet }}-image.service
{% endif %}
{% for r in _config.requires | default([]) -%}
After={{ r }}
Requires={{ r }}
{% endfor %}

[Container]
{% if _config.no_quadlet_image | default(false) | bool %}
Image={{ _config.image }}
{% else %}
Image={{ _quadlet }}.image
{% endif %}
ContainerName={{ _quadlet }}{{ "-%i" if _config.scale is defined else "" }}
{% if 'command' in _config -%}
Exec={{ _config.command }}
{% endif %}
HostName={{ _quadlet }}{{ "-%i" if _config.scale is defined else "" }}
{% for e in _config.env | default({}) -%}
Environment={{ e | upper }}="{{ _config.env[e] }}"
{% endfor %}
{% if _config.env_file is defined -%}
EnvironmentFile={{ _config.env_file }}
{% endif %}
{% if _config.health | default({}) | length > 0 -%}
HealthCmd={{ _config.health.cmd }}
HealthInterval={{ _config.health.interval | default('5s') }}
HealthRetries={{ _config.health.retries | default('5') }}
HealthStartPeriod={{ _config.health.start_period | default('10s') }}
HealthTimeout={{ _config.health.timeout | default('5s') }}
{% endif %}
Network={{ _config.network | default('host') }}
{% for c in _config.capabilities | default([]) -%}
AddCapability={{ c | upper }}
{% endfor %}
{% for p in _config.ports | default([]) -%}
PublishPort={{ p }}
{% endfor %}
{% if not _config.always_pull | default(true) | bool -%}
Pull=always
{% endif %}
{% if _config.user | default('') != '' -%}
User={{ _config.user }}
{% endif %}
{% for v in _config.volumes | default([]) -%}
Volume={{ v }}
{% endfor %}
{% if _config.security_labels | default({}) | length > 0 -%}
SecurityLabelDisable={{ 'true' if _config.security_labels.disable | default(False) else 'false' }}
{% if _config.security_labels.file_type is defined -%}
SecurityLabelFileType={{ _config.security_labels.file_type }}
{% endif %}
{% if _config.security_labels.level is defined -%}
SecurityLabelLevel={{ _config.security_labels.level }}
{% endif %}
{% if _config.security_labels.nested is defined -%}
SecurityLabelNested={{ 'true' if _config.security_labels.nested | bool else 'false' }}
{% endif %}
{% if _config.security_labels.type is defined -%}
SecurityLabelType={{ _config.security_labels.type }}
{% endif %}
{% endif %}
{% for l in _config.labels | default({}) %}
Label={{ l | lower }}="{{ _config.labels[l] }}"
{% endfor %}
{% if _config.notify | default(false) | bool -%}
Notify=true
{%- endif %}

[Service]
Restart=always
RestartSec=1
StartLimitInterval=0
{% if _config.reload_commands is defined -%}
{% for _command in _config.reload_commands %}
ExecReload={{ _command }}
{% endfor %}
{%- endif %}

[Install]
WantedBy={{ _config.wanted_by | default('multi-user.target') }}
