# -*- encoding: utf-8 -*-
#
# Copyright 2015 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

---
- name: Gather OS specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "rhel-{{ ansible_distribution_major_version }}.yml"
    - "rhel-7.yml"
  tags:
    - dci-core

- name: Ensure apache is present version
  yum:
    name: httpd
    state: present
  tags:
    - dci-core

- name: Ensure welcome.conf is absent
  file:
    path: '/etc/httpd/conf.d/{{ item }}'
    state: absent
  with_items:
    - welcome.conf
    - userdir.conf
  tags:
    - dci-core

- name: Ensure the dci user has proper acl on /var/www/html
  acl:
    name: /var/www/html
    entity: dci
    etype: user
    permissions: 'rwX'
    state: present
  tags:
    - dci-core

- name: Ensure mod_wsgi is installed
  package:
    name: "{{ mod_wsgi_package }}"
  when: wsgi_enabled|bool
  tags:
    - dci-core

- name: Ensure mod_ssl module is installed
  yum:
    name: mod_ssl
  when: ssl_enabled|bool
  tags:
    - dci-core

- name: Remove mpm prefork module
  lineinfile:
    dest: /etc/httpd/conf.modules.d/00-mpm.conf
    regexp: '^LoadModule mpm_prefork_module modules/mod_mpm_prefork.so$'
    state: absent
  notify: reload httpd
  tags:
    - dci-core

- name: Remove mpm event module
  lineinfile:
    dest: /etc/httpd/conf.modules.d/00-mpm.conf
    regexp: '^LoadModule mpm_event_module modules/mod_mpm_event.so$'
    state: absent
  notify: reload httpd
  tags:
    - dci-core

- name: Add mpm worker module
  lineinfile:
    dest: /etc/httpd/conf.modules.d/00-mpm.conf
    line: 'LoadModule mpm_worker_module modules/mod_mpm_worker.so'
  notify: reload httpd
  tags:
    - dci-core

- name: Remove useless httpd config
  file:
    name: '/etc/httpd/{{ item }}.conf'
    state: absent
  with_items:
    - 'conf.modules.d/00-dav'
    - 'conf.modules.d/00-lua'
    - 'conf.modules.d/00-proxy'
    - 'conf.modules.d/01-cgi'
    - 'conf.modules.d/10-proxy_h2'
  notify: reload httpd
  tags:
    - dci-core

- name: Copy needed configuration
  copy:
    src: '{{ item }}'
    dest: '/etc/httpd/conf.d/{{ item }}'
  with_items:
    - security.conf
  notify: reload httpd
  tags:
    - dci-core

- name: Copy SSL configuration
  copy:
    src: ssl-sec.conf
    dest: /etc/httpd/conf.d/ssl-sec.conf
  notify: reload httpd
  when: ssl_enabled|bool
  tags:
    - dci-core

- name: Ensure apache is running (and enable it at boot)
  service:
    name: httpd
    state: started
    enabled: yes
  tags:
    - dci-core
