module rotatelogs 1.0.0;

require {
	type httpd_rotatelogs_t;
	type httpd_log_t;
	type httpd_config_t;
	class lnk_file read;
	class dir search;
}

#============= httpd_rotatelogs_t ==============
allow httpd_rotatelogs_t httpd_config_t:dir search;
allow httpd_rotatelogs_t httpd_log_t:lnk_file read;
