# -*- encoding: utf-8 -*-
#
# Copyright 2015 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

---
- name: Gather OS specific variables
  include_vars: "rhel-{{ ansible_distribution_major_version }}.yml"

- name: Add DCI Extras
  yum_repository:
    name: DCI-Extras
    description: DCI Extras YUM repo
    baseurl: https://packages.distributed-ci.io/repos/extras/el/$releasever/$basearch/
    priority: "1"
    gpgcheck: no

- name: Add RDO Repository
  yum_repository:
    name: RDO-OpenStack
    description: RDO YUM repo
    baseurl: http://{{ rdo_repository_mirror_host }}/centos/$releasever-stream/cloud/$basearch/openstack-{{ openstack_version }}/
    includepkgs: python-oslo-i18n-lang.noarch python-oslo-utils-lang.noarch python3-alembic.noarch python3-debtcollector.noarch python3-flask.noarch python3-funcsigs.noarch python3-iso8601.noarch python3-keystoneauth1.noarch python3-keystoneclient.noarch python3-os-service-types.noarch python3-oslo-config.noarch python3-oslo-i18n.noarch python3-oslo-serialization.noarch  python3-oslo-utils.noarch python3-requests.noarch python3-six.noarch python3-sqlalchemy-utils.noarch python3-stevedore.noarch python3-swiftclient.noarch python3-werkzeug.noarch
    gpgcheck: no

- name: Install EPEL
  include_role:
    name: epel

- name: Ensure ca-certificates is up to date
  package:
    name: ca-certificates
    update_cache: yes
    state: latest

- name: Remove python2-distro package
  package:
    name: python2-distro
    state: absent

- name: Install DCI packages GPG key
  rpm_key:
    key: "https://packages.distributed-ci.io/RPM-GPG-KEY-DCI-2024"
    state: present

- name: Make sure we don't have the old package signing keys
  ansible.builtin.rpm_key:
    state: absent
    key: "{{ item }}"
  loop:
    - DD55B388071B927D # RPM-GPG-KEY-distributedci
    - F82CD13F9250D061 # RPM-GPG-KEY-distributedci-el9

- name: Ensure dci-release is installed
  package:
    name: "http://packages.distributed-ci.io/dci-release.el{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present
  tags:
    - dci-core

- name: Install chrony
  package:
    name: chrony
    state: present
  tags:
    - molecule-notest

- name: Start chronyd service
  service:
    name: chronyd
    state: started
    enabled: yes
  tags:
    - molecule-notest

- name: Set the server hostname
  hostname:
    name: '{{ inventory_hostname }}'
  tags:
    - molecule-notest

- name: Ensure semanage is installed for SELinux boolean manipulation
  package:
    name: "{{ python_policycoreutils }}"
    state: present
  tags:
    - molecule-notest

- name: Ensure SELinux is enforced
  selinux:
    state: enforcing
    policy: targeted
  tags:
    - molecule-notest

- name: Ensure dci-sshpubkeys is installed
  package:
    name: dci-sshpubkeys
    state: present

- name: Ensure packages are up to their latest release
  package:
    name: '*'
    state: latest
    nobest: yes
    exclude:
      - dci-feeder-api
      - dci-control-server
      - dci-umb
      - "{{ dciclient_package }}"
      - "{{ dciauth_package }}"
  # This can take some time when there are many packages to upgrade
  # To avoid ssh connection stalling (timeout not detected after a while without traffic)
  # we run as an async task, limiting it to 30 minutes and checking if it's done every 10 seconds
  async: 1800
  poll: 10
  tags:
    - molecule-notest

- name: Configure dnf-automatic & dnf-makecache
  import_tasks: dnf-automatic.yml

- name: Apply firewalld rules
  import_tasks: firewalld.yml
