# -*- encoding: utf-8, filetype: sh -*-
# Gunicorn settings
DCI_NB_WORKERS={{ gunicorn_nb_workers }}
DCI_GUNICORN_WORKER_CONNECTIONS={{ gunicorn_worker_connections }}

DCI_GUNICORN_MAX_REQUESTS={{ gunicorn_max_requests }}
DCI_GUNICORN_MAX_REQUESTS_JITTER={{ gunicorn_max_requests_jitter }}
DCI_GUNICORN_TIMEOUT={{ gunicorn_timeout }}
DCI_GUNICORN_GRACEFUL_TIMEOUT={{ gunicorn_graceful_timeout }}

## dci-control-server settings

API_HOST={{ apihost }}
API_PORT=5000
{% if api_debug is defined %}
API_DEBUG={{ api_debug }}
{% endif %}
{% if api_log_level is defined %}
LOG_LEVEL={{ api_log_level }}
{% endif %}

{% if jsonify_prettyprint_regular is defined %}
JSONIFY_PRETTYPRINT_REGULAR={{ jsonify_prettyprint_regular }}
{% endif %}

# DB_HOST is for dci-wait-for-db
DB_HOST={{ dbhost }}
# Connection string
SQLALCHEMY_DATABASE_URI=postgresql://{{ dbuser }}:{{ dbpassword }}@{{ dbhost }}:5432/{{ dbname }}

# Tuning SQLAlchemy
{% if sqlalchemy_echo is defined %}
SQLALCHEMY_ECHO={{ sqlalchemy_echo }}
{% endif %}
{% if sqlalchemy_record_queries is defined %}
SQLALCHEMY_RECORD_QUERIES={{ sqlalchemy_record_queries }}
{% endif %}
{% if sqlalchemy_native_unicode is defined %}
SQLALCHEMY_NATIVE_UNICODE={{ sqlalchemy_native_unicode }}
{% endif %}

SQLALCHEMY_POOL_SIZE={{ sqlalchemy_pool_size }}
SQLALCHEMY_MAX_OVERFLOW={{ sqlalchemy_max_overflow }}

# Store

STORE_ENGINE={{ store_engine }}
STORE_FILES_CONTAINER={{ store_files_container }}
STORE_COMPONENTS_CONTAINER={{ store_components_container }}

{% if store_engine == 's3' %}
AWS_ACCESS_KEY_ID={{ store_s3_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ store_s3_aws_secret_access_key }}
AWS_REGION={{ store_s3_aws_region }}
{% if store_s3_endpoint_url is defined %}
S3_ENDPOINT_URL={{ store_s3_endpoint_url }}
{% endif %}
{% if store_s3_signature_version is defined %}
AWS_SIGNATURE_VERSION={{ store_s3_signature_version }}
{% endif %}
{% elif store_engine == 'file' %}
STORE_FILE_PATH={{ store_file_path | default("/var/lib/dci-control-server/files") }}
{% endif %}

# ZMQ

ZMQ_CONN={{ zmq_conn }}

# Files upload

MAX_CONTENT_LENGTH_MB={{ max_content_length_mb }}

# SSO

SSO_PUBLIC_KEY={{ sso_public_key }}
SSO_AUDIENCES={{ sso_audiences|join(",") }}
SSO_READ_ONLY_GROUP={{ sso_read_only_group }}
SSO_URL={{ sso_url }}
SSO_REALM={{ sso_realm }}

# Certification
CERTIFICATION_URL={{ certification_url }}

# dci-analytics

ANALYTICS_URL={{ analytics_url }}
AMQP_BROKER_URL={{ amqp_broker_url }}


# RHDL
#
RHDL_API_URL={{ rhdl_api_url }}
RHDL_SERVICE_ACCOUNT_ACCESS_KEY={{ rhdl_service_account_access_key }}
RHDL_SERVICE_ACCOUNT_SECRET_KEY={{ rhdl_service_account_secret_key }}

# Requests tuning

{% if requests_timeout_connect is defined %}
REQUESTS_TIMEOUT_CONNECT={{ requests_timeout_connect }}
{% endif %}
{% if requests_timeout_read is defined %}
REQUESTS_TIMEOUT_READ={{ requests_timeout_read }}
{% endif %}
