# -*- encoding: utf-8 -*-
#
# Copyright 2015-2016 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

# Global parameters about the API itself
#
HOST = '{{ apihost }}'
PORT = 5000
DEBUG = False

# Database (SQLAlchemy) related parameters
#
SQLALCHEMY_DATABASE_URI = 'postgresql://{{ dbuser }}:{{ dbpassword }}@{{ dbhost }}:5432/{{ dbname }}'

# The following two lines will output the SQL statements
# executed by SQLAlchemy. Useful while debugging and in
# development. Turned off by default
# --------
SQLALCHEMY_ECHO = False
SQLALCHEMY_RECORD_QUERIES = False

SQLALCHEMY_POOL_SIZE = 20
SQLALCHEMY_MAX_OVERFLOW = 0
SQLALCHEMY_NATIVE_UNICODE = True

# Stores configuration, to store files and components
# STORE
SWIFT_STORE = 'swift'
FILE_STORE = 'file'

STORE_ENGINE = '{{ store_engine }}'
{% if store_engine == 'swift' %}
STORE_USERNAME = '{{ store_username }}'
STORE_PASSWORD = '{{ store_password }}'
STORE_TENANT_NAME = '{{ store_tenant_name }}'
STORE_AUTH_URL = '{{ store_auth_url }}'
STORE_REGION = '{{ store_region }}'
{% elif store_engine == 'file'  %}
STORE_FILE_PATH = '{{ store_file_path | default("/var/lib/dci-control-server/files") }}'
{% endif %}
STORE_FILES_CONTAINER = '{{ store_files_container }}'
STORE_COMPONENTS_CONTAINER = '{{ store_components_container }}'

# ZMQ Connection
ZMQ_CONN = '{{ zmq_conn }}'

# Logging related parameters
LOG_FORMAT = '[%(asctime)s] %(name)-12s %(levelname)-8s %(message)s'
PROD_LOG_FORMAT = '[%(asctime)s] %(levelname)s in %(module)s: %(message)s'
DEBUG_LOG_FORMAT = (
    '-' * 80 + '\n' +
    '%(levelname)s at %(asctime)s in %(name)s:\n' +
    '%(message)s\n' +
    '-' * 80
)
LOG_LEVEL = 'INFO'


LAST_UPDATED = 'updated_at'
DATE_CREATED = 'created_at'
ID_FIELD = 'id'
ITEM_URL = ('regex("[\.-a-z0-9]{8}-[-a-z0-9]{4}-'
            '[-a-z0-9]{4}-[-a-z0-9]{4}-[-a-z0-9]{12}")')

ITEM_LOOKUP_FIELD = 'id'
ETAG = 'etag'
URL_PREFIX = 'api'
X_DOMAINS = '*'
X_HEADERS = 'Authorization, Content-Type, If-Match, ETag, X-Requested-With'
MAX_CONTENT_LENGTH = 20 * 1024 * 1024

FILES_UPLOAD_FOLDER = '/var/lib/dci-control-server/files'

# generated by bin/dci-gen-pem-ks-key.py
SSO_PUBLIC_KEY = """{{ sso_public_key }}"""
SSO_CLIENT_ID = '{{ sso_client_id }}'
SSO_READ_ONLY_GROUP = '{{ sso_read_only_group }}'

CA_CERT = '{{ repo_sslcacertfile }}'
CA_KEY = '{{ repo_sslcakeyfile }}'

CERTIFICATION_URL = '{{ certification_url }}'
