dns_ovh_endpoint = {{ certbot_dns_ovh_endpoint }}
dns_ovh_application_key = {{ certbot_dns_ovh_application_key }}
dns_ovh_application_secret = {{ certbot_dns_ovh_application_secret }}
dns_ovh_consumer_key = {{ certbot_dns_ovh_consumer_key }}