# vim: tabstop=2 shiftwidth=2 expandtab
global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

  external_labels:
    environment: {{ prometheus_environment }}

scrape_configs:
  - job_name: prometheus  # monitor self
    metrics_path: {{ prometheus_web_path }}/metrics
    static_configs:
      - targets:
        - localhost:{{ prometheus_http_port }}

{% for _sc, _conf in prometheus_scrape_configs.items() %}
  - job_name: {{ _sc }}
    {{ _conf | indent(width=4, first=False) }}
{% endfor %}

rule_files:
  - /etc/prometheus/rules.d/*.rules

alerting:
  alertmanagers:
{% for _am, _conf in prometheus_alertmanagers.items() %}
    - path_prefix: {{ _conf.path }}
      scheme: http
      static_configs:
      - targets:
        - {{ _am }}:{{ _conf.port }}
{% endfor %}
